.card-label-pricing__container{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 7px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background: rgba(0, 0, 0, 0.644);
  font-family: 'Segoe UI';
  color: white;
}

.card-label-pricing__text{
  display: flex;
  flex-direction: column;
}

.card-label-pricing__tags{
  display: flex;
  white-space: nowrap;
}

.card-label-pricing__tags > span {
  color: aqua;
  font-weight: bold;
  margin-right: 5px;

}

